<!--vipin.saxena@makershala.com 9810881515-->
<!-- Edit general details tab -->
<div id="generaldetails"><h4 id="mentor-page-heading"> Checkout Details</h4>     
      <form class="form-horizontal fv-form fv-form-bootstrap4 " autocomplete="off" id="professionaldetails_form"> 
        <div class="row account-contant">
            <div class="col-12 ">            
                    <div class="bg-white p-20">
                                <div class="col-sm-12">
                                    <div class="page-account-form" style="width:70%; margin:auto;">

                                        <div class="">
                                            <div class="form-row">Create Paytm payment Link
                                                <div class="form-group col-md-12">
                                                    <input type="hidden" class="form-control" id="linkid" value="{{linkid}}"  maxlength="100" >
                                                </div>
<!--                                                <div class="form-group col-md-12">
                                                    <label for="diyname">Diyname</label>
                                                    <input type="text" class="form-control" id="diyname" value="{{diyname}}"  maxlength="100" >
                                                </div>-->
                                               
                                                <div class="form-group col-md-12">
                                                    <label for="amount">Amount</label>
                                                    <input type="text" class="form-control" id="amount" value="{{amount}}" >
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="emails">Email</label>
                                                    <input type="emails" class="form-control" id="emails" value="{{email}}" >
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="phone">Mobile</label>
                                                    <input type="text" class="form-control" id="phone" value="{{phone}}" >
                                                </div>
                                                <div class="text-right">
                                                    <input type="button" class="btn btn-primary" id="create" value="Create">
                                                </div>
                                                <div class="">
                                                    <input type="button" class="btn btn-primary" id="cancel" value="Cancel">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                  
                    </div>

                
            </div>
        </div>
        <div class="d-flex justify-content-between" style="align-items: center;margin: 0 168px 16px 32px;">
      <div class="text-left ancher_button" >
            <a href="{{backbtn}}"><i class="fas fa-chevron-circle-left"></i> Back </a>
        </div>                                  
                                      
        </div>                      
          </form>
</div><!--end form div -->
