<div class="slt-plan-Wrap">
    <div class="container">
        <div class="slt-plan-main plan-maIn">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true"><strong>One Tutor To One Student</strong><span>50% - 60% Discount</span></a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-t2-tab" data-toggle="pill" href="#pills-t2" role="tab" aria-controls="pills-t2" aria-selected="false"><strong>Two Students Group</strong><span>60% - 70% Discount</span></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-t3-tab" data-toggle="pill" href="#pills-t3" role="tab" aria-controls="pills-t3" aria-selected="false"><strong>Three Students Group</strong><span>70% - 75% Discount</span></a>
                </li>
            </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="planCard">
                                <div>
                                <h2>Maths</h2>
                                <div class="wtRow">
                                    <div>Study Type</div>
                                    <div>1:1</div>
                                </div>
                                <div class="wtRow">
                                    <div>50% Discount</div>
                                    <mark>$2439 OFF</mark>
                                </div>
                                <div class="wtRow">
                                    <div>Study No. of Class</div>
                                    <div>
                                        <select>
                                            <option>20 Class</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="priCeWrap">
                                    <div>
                                    <strong>$1,699</strong><s>$2430</s><mark>30% OFF</mark>
                                    </div>
                                    <span>$25.7 per Class</span>
                                </div>
                                </div>
                                <div class="selBtnWrap">
                                    <a href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="planCard">
                                <div>
                                <h2>Coding</h2>
                                <div class="wtRow">
                                    <div>Study Type</div>
                                    <div>1:1</div>
                                </div>
                                <div class="wtRow">
                                    <div>50% Discount</div>
                                    <mark>$2439 OFF</mark>
                                </div>
                                <div class="wtRow">
                                    <div>Coding</div>
                                    <div>
                                        <select>
                                            <option>HTML Besic</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="wtRow">
                                    <div>Study No. of Class</div>
                                    <div>
                                        <select>
                                            <option>20 Class</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="priCeWrap">
                                    <div>
                                    <strong>$1,699</strong><s>$2430</s><mark>30% OFF</mark>
                                    </div>
                                    <span>$25.7 per Class</span>
                                </div>
                                </div>
                                <div class="selBtnWrap">
                                    <a href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="planCard">
                                <div>
                                <h2>Math & Coding</h2>
                                <div class="wtRow">
                                    <div>Study Type</div>
                                    <div>1:1</div>
                                </div>
                                <div class="wtRow">
                                    <div>60% Discount</div>
                                    <mark>$2439 OFF</mark>
                                </div>
                                <div class="wtRow">
                                    <div>Coding</div>
                                    <div>
                                        <select>
                                            <option>HTML Besic</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="wtRow">
                                    <div>Study No. of Class</div>
                                    <div>
                                        <select>
                                            <option>20 Class</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="priCeWrap">
                                    <div>
                                    <strong>$1,699</strong><s>$2430</s><mark>30% OFF</mark>
                                    </div>
                                    <span>$25.7 per Class</span>
                                </div>
                                </div>
                                <div class="selBtnWrap">
                                    <a href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-t2" role="tabpanel" aria-labelledby="pills-t2-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="planCard">
                                <div>
                                <h2>Maths</h2>
                                <div class="wtRow">
                                    <div>Study Type</div>
                                    <div>1:1</div>
                                </div>
                                <div class="wtRow">
                                    <div>50% Discount</div>
                                    <mark>$2439 OFF</mark>
                                </div>
                                <div class="wtRow">
                                    <div>Study No. of Class</div>
                                    <div>
                                        <select>
                                            <option>20 Class</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="priCeWrap">
                                    <div>
                                    <strong>$1,699</strong><s>$2430</s><mark>30% OFF</mark>
                                    </div>
                                    <span>$25.7 per Class</span>
                                </div>
                                </div>
                                <div class="selBtnWrap">
                                    <a href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="planCard">
                                <div>
                                <h2>Coding</h2>
                                <div class="wtRow">
                                    <div>Study Type</div>
                                    <div>1:1</div>
                                </div>
                                <div class="wtRow">
                                    <div>50% Discount</div>
                                    <mark>$2439 OFF</mark>
                                </div>
                                <div class="wtRow">
                                    <div>Coding</div>
                                    <div>
                                        <select>
                                            <option>HTML Besic</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="wtRow">
                                    <div>Study No. of Class</div>
                                    <div>
                                        <select>
                                            <option>20 Class</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="priCeWrap">
                                    <div>
                                    <strong>$1,699</strong><s>$2430</s><mark>30% OFF</mark>
                                    </div>
                                    <span>$25.7 per Class</span>
                                </div>
                                </div>
                                <div class="selBtnWrap">
                                    <a href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="planCard">
                                <div>
                                <h2>Math & Coding</h2>
                                <div class="wtRow">
                                    <div>Study Type</div>
                                    <div>1:1</div>
                                </div>
                                <div class="wtRow">
                                    <div>60% Discount</div>
                                    <mark>$2439 OFF</mark>
                                </div>
                                <div class="wtRow">
                                    <div>Coding</div>
                                    <div>
                                        <select>
                                            <option>HTML Besic</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="wtRow">
                                    <div>Study No. of Class</div>
                                    <div>
                                        <select>
                                            <option>20 Class</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="priCeWrap">
                                    <div>
                                    <strong>$1,699</strong><s>$2430</s><mark>30% OFF</mark>
                                    </div>
                                    <span>$25.7 per Class</span>
                                </div>
                                </div>
                                <div class="selBtnWrap">
                                    <a href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-t3" role="tabpanel" aria-labelledby="pills-t3-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="planCard">
                                <div>
                                <h2>Maths</h2>
                                <div class="wtRow">
                                    <div>Study Type</div>
                                    <div>1:1</div>
                                </div>
                                <div class="wtRow">
                                    <div>50% Discount</div>
                                    <mark>$2439 OFF</mark>
                                </div>
                                <div class="wtRow">
                                    <div>Study No. of Class</div>
                                    <div>
                                        <select>
                                            <option>20 Class</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="priCeWrap">
                                    <div>
                                    <strong>$1,699</strong><s>$2430</s><mark>30% OFF</mark>
                                    </div>
                                    <span>$25.7 per Class</span>
                                </div>
                                </div>
                                <div class="selBtnWrap">
                                    <a href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="planCard">
                                <div>
                                <h2>Coding</h2>
                                <div class="wtRow">
                                    <div>Study Type</div>
                                    <div>1:1</div>
                                </div>
                                <div class="wtRow">
                                    <div>50% Discount</div>
                                    <mark>$2439 OFF</mark>
                                </div>
                                <div class="wtRow">
                                    <div>Coding</div>
                                    <div>
                                        <select>
                                            <option>HTML Besic</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="wtRow">
                                    <div>Study No. of Class</div>
                                    <div>
                                        <select>
                                            <option>20 Class</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="priCeWrap">
                                    <div>
                                    <strong>$1,699</strong><s>$2430</s><mark>30% OFF</mark>
                                    </div>
                                    <span>$25.7 per Class</span>
                                </div>
                                </div>
                                <div class="selBtnWrap">
                                    <a href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="planCard">
                                <div>
                                <h2>Math & Coding</h2>
                                <div class="wtRow">
                                    <div>Study Type</div>
                                    <div>1:1</div>
                                </div>
                                <div class="wtRow">
                                    <div>60% Discount</div>
                                    <mark>$2439 OFF</mark>
                                </div>
                                <div class="wtRow">
                                    <div>Coding</div>
                                    <div>
                                        <select>
                                            <option>HTML Besic</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="wtRow">
                                    <div>Study No. of Class</div>
                                    <div>
                                        <select>
                                            <option>20 Class</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="priCeWrap">
                                    <div>
                                    <strong>$1,699</strong><s>$2430</s><mark>30% OFF</mark>
                                    </div>
                                    <span>$25.7 per Class</span>
                                </div>
                                </div>
                                <div class="selBtnWrap">
                                    <a href="#">SELECT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>