<div class="slt-plan-Wrap">
    <div class="container">
        {{#hasplanname}}
            {{#plannames}}
            <div class="slt-plan-main">
                <h2 class="text-center">{{plan_name}}</h2>
                
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      
                      <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">
                        <strong>ONE SUBJECT</strong>
                        <span>Math OR Programming</span>
                      </a>

                    </li>
                    <li class="nav-item" role="presentation">
                      
                      <a class="nav-link" id="pills-t2-tab" data-toggle="pill" href="#pills-t2" role="tab" aria-controls="pills-t2" aria-selected="false">
                        <strong>TWO SUBJECTS</strong>
                        <span>Math & Programming (COMBO)</span>
                      </a>
                      
                    </li>
                </ul>

                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                        <ul class="nav nav-pills slt-ul-sub slt-ul-sub2 offset-md-1" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#ts1" role="tab" aria-controls="pills-1" aria-selected="true"><span>1 Student</span></a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" id="pills-t2-tab" data-toggle="pill" href="#ts2" role="tab" aria-controls="pills-t2" aria-selected="false"><span>2 Students</span></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-t2-tab" data-toggle="pill" href="#ts3" role="tab" aria-controls="pills-t2" aria-selected="false"><span>3 Students</span></a>
                            </li>
                        </ul>
                          <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="ts1" role="tabpanel" aria-labelledby="pills-1-tab">
                                <div class="slt-main-tbl">
                                    <div class="row slt-top-bar">
                                        <span class="col-2"></span>
                                        <span class="col-2">Class Hours</span>
                                        <span class="col-2">Actural Price</span>
                                        <span class="col-2">Discount</span>
                                        <span class="col-2">Pricing</span>
                                        <span class="col-2"></span>
                                    </div>
                                    <div class="row slt-plan-row">
                                        <span class="col-2">Beginners</span>
                                        <span class="col-2">20 Hrs</span>
                                        <span class="col-2"> <s> 4000 </s> </span>
                                        <span class="col-2">50%</span>
                                        <span class="col-2">2000/-</span>
                                        <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                    </div>
                                    <div class="row slt-plan-row">
                                        <span class="col-2">Intermediate</span>
                                        <span class="col-2">30 Hrs</span>
                                        <span class="col-2"> <s> 6000 </s> </span>
                                        <span class="col-2">50%</span>
                                        <span class="col-2">3000/-</span>
                                        <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                    </div>
                                    <div class="row slt-plan-row">
                                        <span class="col-2">Advance</span>
                                        <span class="col-2">50 Hrs</span>
                                        <span class="col-2"> <s> 10000 </s> </span>
                                        <span class="col-2">50%</span>
                                        <span class="col-2">5000/-</span>
                                        <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                    </div>
                                    <div class="row slt-plan-row">
                                        <span class="col-2">Exclusive</span>
                                        <span class="col-2">100 Hrs</span>
                                        <span class="col-2"> <s> 10000 </s> </span>
                                        <span class="col-2">50%</span>
                                        <span class="col-2">5000/-</span>
                                        <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                    </div>
                            
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ts2" role="tabpanel" aria-labelledby="pills-t2-tab">
                              <div class="slt-main-tbl">
                                <div class="row slt-top-bar">
                                    <span class="col-2"></span>
                                    <span class="col-2">Class Hours</span>
                                    <span class="col-2">Actural Price</span>
                                    <span class="col-2">Discount</span>
                                    <span class="col-2">Pricing</span>
                                    <span class="col-2"></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Beginners</span>
                                    <span class="col-2">20 Hrs</span>
                                    <span class="col-2"> <s> 4000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">2000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Intermediate</span>
                                    <span class="col-2">30 Hrs</span>
                                    <span class="col-2"> <s> 6000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">3000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Advance</span>
                                    <span class="col-2">50 Hrs</span>
                                    <span class="col-2"> <s> 10000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">5000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Exclusive</span>
                                    <span class="col-2">100 Hrs</span>
                                    <span class="col-2"> <s> 10000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">5000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                        
                              </div>
                            </div>
                            <div class="tab-pane fade" id="ts3" role="tabpanel" aria-labelledby="pills-t2-tab">
                              <div class="slt-main-tbl">
                                <div class="row slt-top-bar">
                                    <span class="col-2"></span>
                                    <span class="col-2">Class Hours</span>
                                    <span class="col-2">Actural Price</span>
                                    <span class="col-2">Discount</span>
                                    <span class="col-2">Pricing</span>
                                    <span class="col-2"></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Beginners</span>
                                    <span class="col-2">20 Hrs</span>
                                    <span class="col-2"> <s> 4000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">2000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Intermediate</span>
                                    <span class="col-2">30 Hrs</span>
                                    <span class="col-2"> <s> 6000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">3000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Advance</span>
                                    <span class="col-2">50 Hrs</span>
                                    <span class="col-2"> <s> 10000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">5000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Exclusive</span>
                                    <span class="col-2">100 Hrs</span>
                                    <span class="col-2"> <s> 10000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">5000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                        
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="tab-pane fade" id="pills-t2" role="tabpanel" aria-labelledby="pills-t2-tab">
                      <ul class="nav nav-pills slt-ul-sub slt-ul-sub2 offset-md-1" id="pills-tabb" role="tablist">
                            <li class="nav-item" role="presentation">
                              <a class="nav-link active" id="pills-1-tabb" data-toggle="pill" href="#dts1" role="tab" aria-controls="pills-1" aria-selected="true"><span>1 Student</span></a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" id="pills-t2-taab" data-toggle="pill" href="#dts2" role="tab" aria-controls="pills-t2" aria-selected="false"><span>2 Students</span></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-t3-taab" data-toggle="pill" href="#dts3" role="tab" aria-controls="pills-t2" aria-selected="false"><span>3 Students</span></a>
                            </li>
                        </ul>
                          <div class="tab-content" id="pills-tabbContent">
                            <div class="tab-pane fade show active" id="dts1" role="tabpanel" aria-labelledby="pills-1-tabb">
                                <div class="slt-main-tbl">
                                    <div class="row slt-top-bar">
                                        <span class="col-2"></span>
                                        <span class="col-2">Class Hours</span>
                                        <span class="col-2">Actural Price</span>
                                        <span class="col-2">Discount</span>
                                        <span class="col-2">Pricing</span>
                                        <span class="col-2"></span>
                                    </div>
                                    <div class="row slt-plan-row">
                                        <span class="col-2">Beginners</span>
                                        <span class="col-2">20 Hrs</span>
                                        <span class="col-2"> <s> 4000 </s> </span>
                                        <span class="col-2">50%</span>
                                        <span class="col-2">2000/-</span>
                                        <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                    </div>
                                    <div class="row slt-plan-row">
                                        <span class="col-2">Intermediate</span>
                                        <span class="col-2">30 Hrs</span>
                                        <span class="col-2"> <s> 6000 </s> </span>
                                        <span class="col-2">50%</span>
                                        <span class="col-2">3000/-</span>
                                        <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                    </div>
                                    <div class="row slt-plan-row">
                                        <span class="col-2">Advance</span>
                                        <span class="col-2">50 Hrs</span>
                                        <span class="col-2"> <s> 10000 </s> </span>
                                        <span class="col-2">50%</span>
                                        <span class="col-2">5000/-</span>
                                        <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                    </div>
                                    <div class="row slt-plan-row">
                                        <span class="col-2">Exclusive</span>
                                        <span class="col-2">100 Hrs</span>
                                        <span class="col-2"> <s> 10000 </s> </span>
                                        <span class="col-2">50%</span>
                                        <span class="col-2">5000/-</span>
                                        <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                    </div>
                            
                                </div>
                            </div>
                            <div class="tab-pane fade" id="dts2" role="tabpanel" aria-labelledby="pills-t2-taab">
                              <div class="slt-main-tbl">
                                <div class="row slt-top-bar">
                                    <span class="col-2"></span>
                                    <span class="col-2">Class Hours</span>
                                    <span class="col-2">Actural Price</span>
                                    <span class="col-2">Discount</span>
                                    <span class="col-2">Pricing</span>
                                    <span class="col-2"></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Beginners</span>
                                    <span class="col-2">20 Hrs</span>
                                    <span class="col-2"> <s> 4000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">2000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Intermediate</span>
                                    <span class="col-2">30 Hrs</span>
                                    <span class="col-2"> <s> 6000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">3000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Advance</span>
                                    <span class="col-2">50 Hrs</span>
                                    <span class="col-2"> <s> 10000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">5000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Exclusive</span>
                                    <span class="col-2">100 Hrs</span>
                                    <span class="col-2"> <s> 10000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">5000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                        
                              </div>
                            </div>
                            <div class="tab-pane fade" id="dts3" role="tabpanel" aria-labelledby="pills-t3-taab">
                              <div class="slt-main-tbl">
                                <div class="row slt-top-bar">
                                    <span class="col-2"></span>
                                    <span class="col-2">Class Hours</span>
                                    <span class="col-2">Actural Price</span>
                                    <span class="col-2">Discount</span>
                                    <span class="col-2">Pricing</span>
                                    <span class="col-2"></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Beginners</span>
                                    <span class="col-2">20 Hrs</span>
                                    <span class="col-2"> <s> 4000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">2000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Intermediate</span>
                                    <span class="col-2">30 Hrs</span>
                                    <span class="col-2"> <s> 6000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">3000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Advance</span>
                                    <span class="col-2">50 Hrs</span>
                                    <span class="col-2"> <s> 10000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">5000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                                <div class="row slt-plan-row">
                                    <span class="col-2">Exclusive</span>
                                    <span class="col-2">100 Hrs</span>
                                    <span class="col-2"> <s> 10000 </s> </span>
                                    <span class="col-2">50%</span>
                                    <span class="col-2">5000/-</span>
                                    <span class="col-2"><a href="#" class="slt-btn">Select Plan</a></span>
                                </div>
                        
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
            </div>
            {{/plannames}}
        {{/hasplanname}}
    </div>
</div>